@font-face {
    font-family: 'Google Sans';
    src        : url('./fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Google Sans';
    src        : url('./fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style : normal;
}

:root {
    --gray-1  : #1e1f1c;
    --gray-2  : #272822;
    --gray-3  : #3e3d32;
    --text    : #f8f8f2;
    --accent  : #00e1ff;
    --accent-2: #ffa200;

    --border-radius     : 8px;
    --star-card-width   : 256px;
    --star-card-height  : 384px;
    --star-cards-per-row: 2;
    --padding           : 16px;
    --scrollbar-width   : 12px;
    --left-column-width : calc(var(--star-card-width) * var(--star-cards-per-row) + var(--padding) * (var(--star-cards-per-row) + 2));
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Google Sans', Arial, sans-serif;
}

main {
    display              : grid;
    grid-template-columns: var(--left-column-width) 1fr;
    grid-template-rows   : auto auto 1fr;
    grid-template-areas  :
        'menu menu'
        'toolbar toolbar'
        'stars movies';
    grid-gap        : var(--padding);
    row-gap         : 0;
    background-color: var(--gray-1);
    height          : 100vh;
    overflow        : hidden;
}

/******************************************** Menu */
menu {
    display         : flex;
    background-color: #f0f0f0;
    border-bottom   : 1px solid #ccc;
    font-family     : sans-serif;
    font-size       : 14px;
    grid-area       : menu;

    .menu-item {
        padding : 5px 12px;
        cursor  : default;
        position: relative;
    }

    .menu-item:hover {
        background-color: #e0e0e0;
    }

    .dropdown {
        display   : none;
        position  : absolute;
        top       : 100%;
        left      : 0;
        background: white;
        border    : 1px solid #ccc;
        min-width : 180px;
        z-index   : 1000;
    }

    .menu-item:hover .dropdown {
        display: block;
    }

    .option {
        padding        : 8px 15px;
        display        : flex;
        justify-content: space-between;
    }

    .option:hover {
        background-color: #0078d7;
        color           : white;
    }

    .shortcut {
        color       : #888;
        font-size   : 12px;
        padding-left: 20px;
    }

    .option:hover .shortcut {
        color: #eee;
    }
}

#stars {
    background-color: var(--gray-1);
    padding         : var(--padding);
    height          : 100%;
    overflow        : auto;
    grid-area       : stars;
    display         : flex;
    flex-wrap       : wrap;
    gap             : var(--padding);
}

#movies {
    background-color: var(--gray-2);
    padding         : var(--padding);
    height          : 100%;
    overflow        : auto;
    grid-area       : movies;
    display         : flex;
    flex-direction  : column;
    gap             : var(--padding);
}

#toolbar {
    background-color: var(--gray-1);
    padding         : calc(var(--padding) / 2);
    display         : flex;
    justify-content : end;
    align-items     : center;
    grid-area       : toolbar;
    gap             : var(--padding);
}

dialog {
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    margin          : 0;
    background-color: var(--gray-3);
    border-radius   : var(--border-radius);
    border          : none;
    box-shadow      : 0 4px 20px rgba(0, 0, 0, 0.2);
    color           : var(--text);
    width           : 100%;
    max-width       : min(80%, 800px);
    max-height      : min(1000px, 90vh);
    flex-direction  : column;
    overflow        : hidden;

    &:open {
        display: flex;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter : blur(8px);
    }
}

progress {
    height            : 24px;
    width             : 100%;
    -webkit-appearance: none;
    appearance        : none;
}

progress::-webkit-progress-bar {
    background-color: var(--gray-2);
    border-radius   : 4px;
    height          : 12px;
}

/* Value/Fill Styling */
progress::-webkit-progress-value {
    background-color: var(--accent);
    border-radius   : 4px;
    transition      : width 0.3s ease;
    /* Smooth updates */
}

.dialog-header {
    font-size       : 1.25em;
    font-weight     : bold;
    padding         : var(--padding);
    border-bottom   : 1px solid var(--gray-2);
    background-color: var(--gray-1);
}

.dialog-body {
    padding        : var(--padding);
    display        : flex;
    flex-direction : column;
    justify-content: start;
    align-items    : center;
    gap            : var(--padding);
    overflow       : auto;
}

.dialog-footer {
    padding         : var(--padding);
    background-color: rgba(0, 0, 0, .1);
    display         : flex;
    justify-content : flex-end;
    gap             : 1rem;
}

.button {
    border       : none;
    border-radius: var(--border-radius);
    padding      : 8px 16px;
    cursor       : pointer;
    font-weight  : bold;

    &.button-primary {
        background-color: var(--accent);
        color           : var(--gray-1);

        &:hover {
            background-color: var(--gray-1);
            color           : var(--accent);
        }
    }
}

.toolbar-button {
    border          : none;
    border-radius   : calc(var(--border-radius) / 2);
    padding         : 4px 6px;
    cursor          : pointer;
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : 8px;
    background-color: var(--accent);
    font-size       : 12px;
    line-height     : 1;
    margin-inline   : auto 8px;
    align-self      : center;

    &:hover {
        background-color: var(--gray-1);
        color           : var(--accent);

        .toolbar-icon {
            fill: var(--accent);
        }
    }
}

.toolbar-icon {
    height: 24px;
    fill  : var(--gray-1);
}

.display-none {
    display: none;
}

.star-card {
    background-color: var(--gray-3);
    border-radius   : var(--border-radius);
    overflow        : hidden;
    border          : none;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap             : var(--padding);
    width           : var(--star-card-width);
    position        : relative;

    .star-card-image-container {
        width        : var(--star-card-width);
        height       : var(--star-card-height);
        border-radius: var(--border-radius);

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    .star-card-top {
        position                 : absolute;
        top                      : 0;
        right                    : 0;
        display                  : flex;
        justify-content          : end;
        align-items              : center;
        gap                      : 8px;
        background-color         : rgba(255, 255, 255, 0.4);
        backdrop-filter          : blur(8px);
        padding                  : 4px 8px;
        border-bottom-left-radius: var(--border-radius);
    }

    .star-card-id {
        color: var(--accent);
    }

    .star-card-bottom {
        position               : absolute;
        bottom                 : 0;
        left                   : 0;
        display                : flex;
        justify-content        : end;
        align-items            : center;
        gap                    : var(--padding);
        background-color       : rgba(255, 255, 255, 0.4);
        backdrop-filter        : blur(8px);
        padding                : 4px 8px;
        border-top-right-radius: var(--border-radius);

        svg {
            height: 16px;
            fill  : var(--gray-3);
        }
    }

    .star-card-score-container,
    .star-card-movies-container {
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 4px;
        line-height    : 1;
    }

    .star-card-score,
    .star-card-movies {
        color      : var(--gray-1);
        font-weight: 900;
    }

    .special-star path {
        fill: var(--accent) !important;
    }
}

.app-icons {
    display        : flex;
    gap            : 8px;
    justify-content: end;
    align-items    : center;

    &>div {
        display    : flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            color : var(--accent);

            svg {
                fill: var(--accent);
            }
        }
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--gray-3);
    border-radius   : var(--border-radius);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--gray-2);
}

.new-elements-list {
    display       : flex;
    flex-direction: column;
    gap           : var(--padding);
    width         : 100%;
}

input {
    padding         : 8px;
    border          : none;
    outline         : none;
    border-radius   : 4px;
    background-color: var(--gray-1);
    color           : var(--text);

    &:focus {
        background-color: var(--accent);
        color           : var(--gray-1);
    }
}

.new-element-row {
    display              : grid;
    grid-template-columns: 1fr 100px auto;
    width                : 100%;
    gap                  : 8px;
    align-items          : center;

    svg {
        height: 16px;
        fill  : var(--gray-2);

        &:hover {
            fill  : var(--accent);
            cursor: pointer;
        }
    }
}

.new-star-special {
    fill: var(--accent) !important;
}

.movie-card {
    width                : 100%;
    display              : grid;
    grid-template-columns: auto 1fr;
    background-color     : var(--gray-1);

    & * {
        color: var(--text);
    }

    .movie-card-left {
        width   : 320px;
        position: relative;
        padding : var(--padding);

        .movie-card-image-container {
            width  : 100%;
            display: flex;

            img {
                width     : 100%;
                height    : auto;
                object-fit: cover;
            }
        }

    }

    .movie-card-special-icon,
    .movie-card-delete-icon,
    .movie-card-validate-icon {
        cursor: pointer;

        path {
            fill: var(--gray-3);
        }

        &:hover path {
            fill  : var(--accent);
            cursor: pointer;
        }

        &.special-movie {
            path {
                fill: var(--accent);
            }
        }
    }

    .movie-card-right {
        padding        : var(--padding);
        display        : flex;
        flex-direction : column;
        justify-content: start;
        gap            : 8px;

        .movie-card-title {
            font-size  : 1.25em;
            font-weight: bold;
            color      : var(--accent);
        }

        .movie-card-stars {
            display: flex;
            gap    : 8px;

            .movie-card-star {
                color: var(--text);
            }
        }
    }

    svg:has(.app-icon) {
        height: 24px;
    }

    svg:has(.delete-icon) {
        height: 30px;
    }

    .movie-card-row {
        display    : flex;
        align-items: center;
        gap        : 16px;
    }

    .movie-card-id {
        color           : var(--gray-1);
        line-height     : 1;
        font-size       : 12px;
        background-color: var(--accent);
        padding         : 4px 4px;
        border-radius   : 4px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        font-weight     : 900;
    }

    label {
        display    : flex;
        gap        : 8px;
        align-items: center;
    }

    input {
        color           : var(--text);
        background-color: var(--gray-1);
        font-size       : 14px;
        font-weight     : bold;
        width           : 100%;
        border          : none;
        outline         : none;

        &.movie-card-new-name {
            color    : var(--accent);
            font-size: 18px;
        }
    }

    .movie-card-score {
        font-size: 24px;
        color    : var(--accent);
        width    : 120px;
    }

    &.failed-movie {
        .movie-card-special-icon {

            &:hover path {
                fill  : var(--accent-2);
                cursor: pointer;
            }

            &.special-movie {
                path {
                    fill: var(--accent-2);
                }
            }
        }

        .movie-card-right {

            .movie-card-title {
                color: var(--accent-2);
            }
        }

        .movie-card-id {
            background-color: var(--accent-2);
        }

        input {

            &.movie-card-new-name {
                color: var(--accent-2);
            }
        }

        .movie-card-score {
            color: var(--accent-2);
        }

        .accent {
            color: var(--accent-2);
        }

        .movie-card-validate-icon {
            visibility    : visible;
            pointer-events: initial;

            path {
                fill: var(--accent-2);
            }

            &:hover path {
                fill  : var(--accent);
                cursor: pointer;
            }

        }
    }
}

.accent {
    color: var(--accent);
}

.movie-card-badge {
    background-color: var(--gray-3);
    padding         : 4px 8px;
    border-radius   : 4px;

    &:hover {
        background-color: var(--accent);
        color           : var(--gray-1);
    }
}

.tags-container,
.stars-container {
    display: flex;
    gap    : 8px;
}

.clickable {
    cursor: pointer;
}

.add-button-container {
    display    : flex;
    align-items: center;
    gap        : 8px;

    button {
        background-color: var(--accent);
        color           : var(--gray-1);
        border          : none;
        border-radius   : 4px;
        padding         : 4px 8px;
        cursor          : pointer;
        font-weight     : bold;
        font-size       : 18px;
        line-height     : 1;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }
}

#disk-container-dialog {
    max-width: min(80%, 500px);

    label {
        width         : 100%;
        display       : flex;
        flex-direction: column;
        gap           : 8px;
    }
}

#add-star-tag-dialog {
    width: fit-content;

    .dialog-body {
        padding: 0;
    }
}

select {
    background-color: var(--gray-3);
    color           : var(--text);
    border          : none;
    outline         : none;
    font-size       : 1rem;
}

option {
    padding: 4px 16px;

    &:hover {
        background-color: var(--accent);
        color           : var(--gray-1);
    }
}

#info-dialog {
    h4 {
        margin-block-start: 2rem;
    }

    hr {
        margin-block: 0.5rem;
    }
}

.movie-card-thumbnails {
    display    : flex;
    gap        : 8px;
    flex-wrap  : wrap;
    grid-column: 1/-1;
    padding    : 16px;
}

.thumbnail {
    position: relative;
    width   : 360px;
    height  : 240px;
    border  : 1px solid white;

    svg {
        position        : absolute;
        background-color: rgba(255, 255, 255, .5);
        z-index         : 1;
        cursor          : pointer;

        &.thumbnail-poster-icon {
            bottom: 0;
            left  : 0;
            height: 28px;
        }

        &.thumbnail-delete-icon {
            top   : 0;
            right : 0;
            height: 24px;
        }
    }

    img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
    }
}

#search-dialog {
    width: fit-content;

    .top-row {
        padding: var(--padding);
        display: flex;
        gap    : 16px;
    }

    #search-score {
        width: 100px;
    }

    .dialog-body {
        padding: 0;
    }

    div:has(>button) {
        display: flex;
        gap    : 8px;
    }

    #search-dialog-body {
        gap: 0;
    }

    .add-button-container {
        flex-direction: column;
        align-items   : start;
        padding       : var(--padding);
        width         : 100%;

        [id$="-container"] {
            background-color: var(--gray-1);
            border-radius   : 4px;
            min-height      : 24px;
            width           : 100%;
            display         : flex;
            gap             : 8px;
            padding         : 8px;
        }
    }
}